<h2>{{char.name}}</h2>
<p>Height: {{char.height}} cm</p>
<p>Team: {{char.team}}</p>
<p>Position: {{position}}</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/{{char.videoId}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>